.slick-list {
    margin: 0 -1000px;
}
.slick-list, .slick-track {
    height: 100%;
}
.slick-slide {
    height: 100%;
    width: 100%;
    margin: 0 1000px;
    position: relative;
}

.slick-arrow {
    position: absolute;
    bottom: 0;
    width: 49.9%;
    height: 50px;
    border: none !important;
    focus: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    font-size: 18px;
    color: #fff;
}

.slick-prev.slick-disabled {
    display: none !important;
}

.slick-prev {
    left: 0;
    /*border-top-right-radius: 10px;*/
}

.slick-next {
    right: 0;
    /*border-top-left-radius: 10px;*/
}